body {
    background-color: goldenrod;
}


#playing-cards {
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    gap:20px;

}

.card {
    background-color: antiquewhite;
    display:flex;
    justify-content: space-between;
    border:2px solid black;
    border-radius:5px;
    width:40%;
    height:350px;
    padding:5px;
    box-shadow: 2px 2px 2px black;
   
    
}

.left {
    align-self:flex-start;
    font-size: 30px;
}

.middle {
   
    align-self: center;
    font-size: 80px;
}

.right {
   align-self: flex-end;
   font-size: 30px;

}

.flip {
    transform: rotate(180deg);
}