#playing-cards {
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    gap:20px;

}

.card {
    display:flex;
    justify-content: space-between;
    border:2px solid black;
    border-radius:5px;
    width:40%;
    height:200px;
   
    
}

.left {
    align-self:flex-start;
}

.middle {
    display:flex;
    flex-direction: column;
    align-self: center;
}

.right {
    align-self: flex-end;
}